{
  "branches": [ "main", "develop" ],
  "repositoryUrl": "https://github.com/agunay/semantic-release-test.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ],
  "dryRun": true,
  "ci": false,
  "debug": true
}